<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <div style="padding-top: 40px" align="center">
    <table width="20%">
      <tr>
        <td>Search</td>
        <td>
          <input style="width: 100%" id="search" value="" onkeyup="search()" />
        </td>
      </tr>
    </table>
  </div>
  <div style="padding-top: 40px">
    <table id="datatable" border="1" align="center" width="70%">
      <tr>
        <th>Data</th>
      </tr>
      <% for(var i = 0; i < categories.length; i++) { %>
      <tr>
        <td><%= categories[i] %></td>
      </tr>
      <% } %>
    </table>
  </div>
</html>

<script>
  function search() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("search");
    filter = input.value.toUpperCase();
    table = document.getElementById("datatable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
</script>
