<!DOCTYPE html>
<html>
<style>
    * {
        box-sizing: border-box;
        margin: 0;
    }

    .Row {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

    .Column1 {
        display: table-cell;
        width: 200px;
    }

    .Column2 {
        display: table-cell;
        width: auto;
    }

    .Column3 {
        display: table-cell;
        width: 300px;
    }
    @media (max-width: 600px) {
    body {
        overflow: scroll;
    }
}
</style>
<div class="Row">
    <div class="Column1"><input id="number" value="" onkeyup="checkNumber(), calculate()" /></div>
    <div class="Column2">
        <select id="selectValue" onchange="calculate()">
            <option value="isPrime">isPrime</option>
            <option value="isFibonacci">isFibonacci</option>
        </select>
    </div>
    <div class="Column3">
        <p id="result"></p>
    </div>
</div>

</html>

<script>
    const numberInput = document.getElementById("number");
    const result = document.getElementById("result");
    function checkNumber() {
        if (isNaN(numberInput.value)) {
            numberInput.value = 1
        }
    }
    function calculate() {
        const selectValue = document.getElementById("selectValue");
        if (numberInput.value == "") {
            result.innerHTML = "";
        } else if (selectValue.value == "isPrime") {
            result.innerHTML = isPrime(parseInt(numberInput.value));
        } else if (selectValue.value == "isFibonacci") {
            console.log("isFibonacci");
            result.innerHTML = true;
        }
    }
    function isPrime(num) {
        for (var i = 2; i < num; i++) {
            if (num % i === 0) {
                return false;
            }
        }
        return true;
    }
</script>